<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Eventos</title>
    {% load static %}
    <link rel="icon" href="{% static 'core/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'core/images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{% url 'listar_eventos' %}">Eventos</a></li>
                <li><a href="{% url 'listar_participantes' %}">Participantes</a></li>
                <li><a href="{% url 'listar_ingressos' %}">Ingressos</a></li>
                <li><a href="{% url 'listar_artistas' %}">Artistas</a></li>
                <li><a href="{% url 'listar_feedbacks' %}">Feedbacks</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        © 2024 - Sistema de Gestão de Eventos - Todos os direitos reservados (Powered by Casagrandi)
    </footer>
</body>

</html>
